/* ------------- header ---------------------- */
header{
    display: flex;
    background: white;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 10px #f8f8f8;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.logo img{
    height: 60px;
    width: auto;
}
ul{
    list-style: none;
    display: flex;
}

/* ---------------- header ends ------------------- */

/* --------------veg item ---------------------- */
.veg_wrapper{
    background: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 10px #f8f8f8;
}
.veg_wrapper:hover{
    border-color: #f8f8f8;
    cursor: pointer;
    box-shadow: 1px 1px 10px 10px #e8e8e8;
    text-decoration: none;
}
.veg_wrapper img{
    width: 120px;
    height: 120px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description p{
    color: gray;
    cursor: pointer;
    font-family: Preeti;
    font-weight: 600;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.description p:hover{
    text-decoration: none;
}

.description .title{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.description .price-tag{
    font-size: .9rem;
}
.description .price-tag span{
    font-size: 1.2rem;
}

/* ----------------veg item ends --------------- */

.page-title{
    display: inline-block;
}

.form-container{
    padding: 20px;
    margin: 10px auto;
    max-width: 500px;
    box-shadow: 0px 0px 10px 10px #f8f8f8;
    background: white;
    border-radius: 20px;
}


/* -----------------footer------------------- */

footer{
    background: #f8f8f8;
}

footer p{
    font-size: .9rem;
    color: gray;
    padding-top: 10px;
}






/* -----------------footer ends ----------------- */
